In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('freetext_features.csv', delimiter='|')

In [6]:
df.head()

,UserID,DD.comma.space,UU.comma.space,H.comma,H.space,DD.period.space,UU.period.space,H.period,H.space.1,DD.space.t,UU.space.t,H.space.2,H.t,DD.e.space,UU.e.space,H.e,H.space.3
0,A1BU2A9JTH4X2S,119,143,96,120,109,77,124,92,121,134,113,126,119.0,137.0,104.0,122.0
1,A1BU2A9JTH4X2S,125,143,113,131,64,55,108,99,221,219,143,141,177.0,168.0,167.0,158.0
2,A1BU2A9JTH4X2S,78,115,90,127,137,112,116,91,163,170,155,162,188.0,141.0,172.0,125.0
3,A1BU2A9JTH4X2S,92,135,84,127,153,125,122,94,576,557,175,156,144.0,171.0,125.0,152.0
4,A1BU2A9JTH4X2S,102,138,95,131,120,64,145,89,271,277,162,168,106.0,170.0,94.0,158.0